Source: ros-rolling-ros-testing
Section: misc
Priority: optional
Maintainer: Dharini Dutia <dharini@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-core, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-ros-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-launch-testing, ros-rolling-launch-testing-ament-cmake, ros-rolling-launch-testing-ros, ros-rolling-ros2test, ros-rolling-ros-workspace
Description: The entry point package to launch testing in ROS.
